.users-container {
  padding: 2em;

  .users-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;

    & > * {
      margin-right: 2em;
    }
  }

  .users-controls {
    display: flex;
    flex-flow: row-reverse nowrap;
    padding: 1em 0;

    & > * {
      margin-left: 1em;
    }
  }

  .users-warning {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 1em 0;
    color: #DEB100;
    background: #FFFAE7;

    .warning-sign {
      padding: 1em;
    }
  }

  .users-table-wrapper {
    width: 100%;
    overflow-x: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    .users-table {
      min-width: 100%;

      th, td {
        padding: 0 1em;
      }

      td {
        cursor: pointer;
      }

      .username-column {
        // `sticky` attribute is bugged in material angular, for example https://github.com/angular/components/issues/15885
        left: 44px;
        position: sticky;
        z-index: 1;
        background: inherit;
      }

      .group-column {
        width: 100%;
      }

      .site-column {
        box-sizing: border-box;
        min-width: 12em;
      }
    }
  }
}

$navvis-grey: #353436;
$navvis-grey-p1: #5D5D5E;
$navvis-grey-p2: #868586;
$navvis-grey-p3: #C2C2C3;
$navvis-grey-p4: #EBEBEB;
$border-width: 1px;
$border-radius: 4px;
$border-color: $navvis-grey-p4;


.mat-table {
  color: $navvis-grey;
  border-style: hidden;
  border-collapse: separate;
  border-spacing: 0;

  .mat-header-row {
    .mat-header-cell {
      border-top: $border-width solid $border-color;

      &:first-child {
        border-left: $border-width solid $border-color;
        border-top-left-radius: $border-radius;
      }

      &:last-child {
        border-top-right-radius: $border-radius;
        border-right: $border-width solid $border-color;
      }
    }

    .mat-header-cell {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .mat-row {
    .mat-cell {
      color: $navvis-grey;
      border-bottom: $border-width solid $border-color;

      &:first-child {
        border-left: $border-width solid $border-color;
      }

      &:last-child {
        border-right: $border-width solid $border-color;
      }
    }

    &:last-child {
      .mat-cell {
        &:first-child {
          border-bottom-left-radius: $border-radius;
        }

        &:last-child {
          border-bottom-right-radius: $border-radius;
        }
      }
    }
  }
}
