<div class="users-container">
  <div class="users-header">
    <h2>Users</h2>
    <mat-form-field appearance="outline">
      <mat-select [(value)]="selectedSite">
        <mat-option [value]="allSitesValue">All sites</mat-option>
        <mat-option [value]="site.id" *ngFor="let site of sites">{{ site.name }} ({{ sitesUsers.has(site.id) ? sitesUsers.get(site.id).length : 0 }})</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="users-controls">
    <button mat-stroked-button [disabled]="selection.isEmpty()" (click)="showDeleteConfirmation()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-flat-button color="primary" (click)="openNewUserModal()">Add new user</button>
  </div>
  <div class="users-warning">
    <span class="warning-sign"><mat-icon>warning</mat-icon></span>
    <span>You can still assign 12 more user to a group, and then reach your subscription limit of 3 users assigned to a
      group. If you would like to assign more users to a group in the future, you can always upgrade your plan.</span>
  </div>
  <div class="users-table-wrapper">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 users-table">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select" sticky>
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Username Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell class="username-column" *matHeaderCellDef> User </th>
        <td mat-cell class="username-column" *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <!-- Group Column -->
      <ng-container matColumnDef="group">
        <th mat-header-cell class="group-column" *matHeaderCellDef> Group </th>
        <td mat-cell class="group-column" *matCellDef="let element"> {{element.groups[sitesByIds.get(selectedSite).name] ? element.groups[sitesByIds.get(selectedSite).name] : '-'}} </td>
      </ng-container>

      <!-- Sites Columns -->
      <ng-container *ngFor="let site of sites; let colIndex = index" matColumnDef="{{site.name}}">
        <th mat-header-cell class="site-column" *matHeaderCellDef> {{site.name}} </th>
        <td mat-cell class="site-column" *matCellDef="let element "> {{element.groups[site.name] ? element.groups[site.name] : '_' }} </td>
      </ng-container>

      <!-- Delete confirmation dialogue -->
      <ng-template #deleteConfirmationMessage>
        <p *ngIf="selection.selected.length === 1">
          {{ "You are about to delete a user. This action cannot be undone." }}
        </p>
        <p *ngIf="selection.selected.length === 1">
          {{ "Are you sure you want to delete the user?" }}
        </p>
        <p *ngIf="selection.selected.length > 1">
          {{ "You are about to delete " + selection.selected.length + " users." }}
        </p>
        <p *ngIf="selection.selected.length > 1">
          {{ "Are you sure you want to delete the users?" }}
        </p>
      </ng-template>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </table>
  </div>
</div>
