<h4 mat-dialog-title>{{title}}</h4>

<mat-dialog-content>
	<p *ngIf="bodyText" class="alert-message-text">{{bodyText}}</p>
	<ng-container *ngTemplateOutlet="bodyTemplate"></ng-container>
</mat-dialog-content>

<mat-dialog-actions>
	<button *ngIf="cancelButtonText" mat-stroked-button
			(click)="cancel()">
		{{cancelButtonText}}
	</button>

	<div style="flex: 1 1 auto"></div>

	<button *ngIf="declineButtonText" mat-stroked-button
	        (click)="decline()">
		{{declineButtonText}}
	</button>

	<button *ngIf="confirmButtonText" mat-flat-button [color]="confirmButtonColor"
	        (click)="confirm()">
		{{confirmButtonText}}
	</button>
</mat-dialog-actions>
