<div class="user-site-groups-container">
  <mat-form-field appearance="outline" class="site-select">
    <mat-label>Site *</mat-label>
    <mat-select [(value)]="site">
      <mat-option [value]="site.id" *ngFor="let site of sites">{{ site.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="groups-select">
    <mat-label>Group *</mat-label>
    <input type="text"
           matInput
           [disabled]="!site"
           [value]="selectedGroupNames()"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option disabled>Select group(s)</mat-option>
      <mat-tree [dataSource]="groupsDataSource" [treeControl]="groupsTreeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
          <button mat-icon-button disabled></button>
          <mat-checkbox class="checklist-leaf-node"
                        [checked]="checklistSelection.isSelected(node.item)"
                        (change)="toggleGroupSelection(node)">
            {{node.item.name}}
          </mat-checkbox>
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.filename">
            <mat-icon class="mat-icon-rtl-mirror">
              {{groupsTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <mat-checkbox [checked]="checklistSelection.isSelected(node.item)"
                        (change)="toggleGroupSelection(node)">
            {{node.item.name}}
          </mat-checkbox>
        </mat-tree-node>
      </mat-tree>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-stroked-button (click)="doRemove()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
