@import "../global";

.user-site-groups-container {
  display: flex;
  flex-flow: row nowrap;

  .site-select {
    margin-right: $spacing;
    width: $input-width;
  }

  .groups-select {
    margin-right: $spacing;
    width: #{$input-width - $spacing - 64px};
  }

  button {
    height: $input-height;
    margin-top: 3.5px;
  }
}
