@import "../global";

.new-user-container {
  display: flex;
  flex-flow: column nowrap;
  max-height: 80vh;

  .new-user-row {
    display: flex;
    flex-flow: row nowrap;
  }

  .sites-and-groups {
    display: flex;
    flex-flow: column nowrap;
  }

  .new-user-field {
    width: $input-width;

    &:first-child {
      margin-right: $spacing;
    }
  }

  .controls-row {
    display: flex;
    flex-flow: row-reverse nowrap;

    & > * {
      margin-left: $spacing;
    }
  }

  button {
    height: $input-height;
    margin-bottom: $spacing;
  }
}

