<div class="new-user-container">
  <h2>Add new user</h2>
  <h4>Create a brand new user and add it to a site.</h4>

  <div class="new-user-row">
    <mat-form-field appearance="outline" class="new-user-field">
      <mat-label>Username *</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="new-user-row">
    <mat-form-field appearance="outline" class="new-user-field">
      <mat-label>First Name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" class="new-user-field">
      <mat-label>Last Name</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="new-user-row">
    <mat-form-field appearance="outline" class="new-user-field">
      <mat-label>Email</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <h3>Site Permissions</h3>
  <div class="sites-and-groups" *ngFor="let userGroupSelection of userGroupSelections; index as i;">
    <app-user-site-groups
      (remove)="removeGroup(i)"
      [sites]="sites"
      [(group)]="userGroupSelection.group"
      [(site)]="userGroupSelection.site"
    ></app-user-site-groups>
  </div>
  <div class="new-user-row">
    <button mat-stroked-button class="add-group-button" (click)="addUserGroupSelection()">
      <mat-icon>add</mat-icon>
    </button>
  </div>


  <h3>Define Password</h3>
  <div class="new-user-row">
    <mat-form-field appearance="outline" class="new-user-field">
      <mat-label>Password *</mat-label>
      <input type="password" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" class="new-user-field">
      <mat-label>Confirm Password *</mat-label>
      <input type="password" matInput>
    </mat-form-field>
  </div>

  <div class="controls-row">
    <button mat-stroked-button disabled>
      Add new user
    </button>
    <button mat-stroked-button (click)="cancel()">
      Cancel
    </button>
  </div>
</div>
